[submodule "home-manager/dotfiles/nvim-config"]
	path = home-manager/dotfiles/nvim-config
	url = https://github.com/dariuszd21/nvim-config
[submodule "home-manager/personal"]
	path = home-manager/personal
	url = git@github.com:dariuszd21/personal-home-manager.git
