[submodule "dotfiles/nvim-config"]
	path = dotfiles/nvim-config
	url = https://github.com/dariuszd21/nvim-config
[submodule "personal"]
	path = personal
	url = git@github.com:dariuszd21/personal-home-manager.git
